* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
    color: #333;
}

header {
    background: #111;
    padding: 15px 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #00bcd4;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.home {
    height: 90vh;
    display: flex;
    align-items: center;
    padding: 50px;
    background: linear-gradient(to right, #00bcd4, #2196f3);
    color: white;
}

.home-text h1 span {
    color: yellow;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    background: black;
    color: white;
    text-decoration: none;
}

section {
    padding: 50px;
    text-align: center;
}

.skills .skill-box span {
    display: inline-block;
    background: #2196f3;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.project-card {
    background: white;
    padding: 20px;
    margin: 15px auto;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}
